@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{

  --primary: rgb(75, 122, 56);
  --secondary: rgb(144, 245, 105);

}

body {
  margin: 0;
  padding: 0;
  background: var(--secondary);
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notes__notelist{

  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
  left: 50%;
  transform: translate(-50%, 0);

}

.notes__notelist_note {
  width: 800px;
  margin: 5px;
  background-color: #e9e9e9;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  height: auto;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 13px 0px rgba(66, 68, 90, 1);
}

.notes__notelist_title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.notes__notelist_content {
  font-size: 14px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.notes__notelist_author {
  font-size: 12px;
  color: #888888;
}

.notes__notelist_title_container{

  position: relative;
  top: 0;

}

.notes__notelist_author_container{

  position: relative;
  bottom: 0%;

}

.searchbar{

  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 100px;
  margin: 0 auto;
  background-color: var(--primary);

}

.searchbar__input {

  height: 25px;
  width: 250px;

}

.searchbar__button{

  height: 30px;
  width: 100px;
  margin-left: 10px;

}

.notes__notelist_delete{

  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: none;
  border-radius: 5px;

}

.notes__notelist_delete:hover, 
.searchbar__button:hover{
  cursor: pointer;
}

.newNote__container{

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  width: 800px;
  margin: 0 auto;
  height: 70px;
  
}

.note_edit__container{

  left: 0;
  top: 0;

}


.notes__notelist_edit{

  position: absolute;
  bottom: 10px;
  right: 10px;
  background: var(--primary);
  border: none;
  color: white;
  border-radius: 4px;

}

.fundNote__note{

  position: relative;
  left: 50%;
  transform: translate(-50%);

}

.notes__notelist_content{

  line-break: auto;

}

#signOutButton{

  position: absolute;
  top: 25px;
  right: 30px;

}

#signInButton{

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.Navbar{

  position: relative;
  display: flex;
  box-shadow: 0px 0px 13px 0px rgba(66, 68, 90, 1);
  width: 800px;
  left: 50%;
  transform: translate(-50%);
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

.newNote__container_content{

  height: 30px;
  margin-left: 10px;


}

.newNote__container_title{

  height: 30px;

}

.newNote__container_button{

  height: 30px;
  width: 100px;
  margin-left: 20px;

}